body{
  font-family: 'Roboto', sans-serif;
}
h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
}

h5 {
}

h6 {
}

a{
}

a:hover{
}

ul li{
  list-style: square;
}

li{
}

sup{
  font-size: 0.7em;
}

html{
  scroll-behavior: smooth;
}
